---
import Layout from '../layouts/Layout.astro';
import HeroSlide from '../components/HeroSlide.astro';

---

<Layout title="Bienvenido a Announceme">
	<HeroSlide />

	<section id="services" class="services-section">
		<h2 class="section-title">Qué te ofrecemos</h2>
		<div class="services-grid">
			<div class="service-item">
				<h3>Desarrollo web</h3>
				<p>Programación personalizada de tu presencia online: web corporativa, ecommerce, hosting profesional.</p>
			</div>
			<div class="service-item">
				<h3>Redes sociales</h3>
				<p>Creamos contenidos de alta calidad destinados a maximizar los resultados de tu estrategia de comunicación online.</p>
			</div>
			<div class="service-item">
				<h3>Redacción de copy y blogs</h3>
				<p>Comunicamos la esencia de tu marca y de tu negocio para llegar a tu público objetivo con el mensaje clave.</p>
			</div>
			<div class="service-item">
				<h3>SEO</h3>
				<p>Te ayudamos a mejorar el posicionamiento de tu sitio web en buscadores para que los clientes te encuentren.</p>
			</div>
			<div class="service-item">
				<h3>Google Ads</h3>
				<p>Desarrollamos campañas altamente efectivas de Google Ads para atraer clientes a tu sitio web de manera constante.</p>
			</div>
			<div class="service-item">
				<h3>Networking de profesionales</h3>
				<p>La colaboración entre empresas y socios es parte de nuestra esencia en Announceme. ¡Llegamos más lejos en equipo!</p>
			</div>
		</div>
	</section>
</Layout>


