---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Términos y condiciones">
    <div class="max-w-4xl mx-auto px-4 bg-gray-200 bg-opacity-50">
        <h1 class="text-3xl font-bold mb-8">POLÍTICA DE PRIVACIDAD<br>¿Quién es el Responsable del tratamiento de sus datos?</h1>
        <p class="mt-4">Identidad: Segundo Plano Producción Audiovisual y Soluciones Informáticas S.L.L.- CIF: B04726998. A partir de ahora “
            <span class="font-bold">segundo</span><span class="font-bold">plano</span>”<br><b>Produccion audiovisuales:</b><br>Avd. Madrid 3, 04007 Almería<br>Teléfono: 644 737 087<br>
            Correo electrónico: produccion@segundoplano.es<br><b>Soluciones Informáticas y programación web:</b><br>C/ Embajadores 187, 28003 Madrid
            <br>Teléfono: 644 737 087<br>Correo electrónico: informatica@segundoplano.es<br>Encargado del tratamiento de datos: Departamento de soluciones informáticas
            <br>Contacto DPD.: informatica@segundoplano.es</p>
        <h3 class="text-2xl font-bold mt-8">¿Con qué finalidad tratamos sus datos personales?</h3>
        <p class="mt-4">En<span>&nbsp;</span><span class="font-bold">segundo</span><span>&nbsp;</span><span class="font-bold">plano</span><span>&nbsp;</span>
            tratamos la información que nos facilitan las personas interesadas con el fin de contestar a los interesados con la información solicitada.
            <br>Con este fin no elaboraremos un “perfil comercial” y por tanto no se tomarán decisiones automatizadas en base a dicho perfil.</p>

        <h3 class="text-2xl font-bold mt-8">¿Por cuánto tiempo conservaremos sus datos?</h3>
        <p class="mt-4">Los datos personales proporcionados se conservarán solo lo necesario para responder a las solicitudes recibidas. Una vez realizado este cometido,
             se procederá a su borrado.</p>
        <h3 class="text-2xl font-bold mt-8">¿Cuál es la legitimación para el tratamiento de sus datos?</h3>
        <p class="mt-4">La base legal para el tratamiento de sus datos es por consentimiento del interesado, el cual nos ha solicitado la información.</p>
        <h3 class="text-2xl font-bold mt-8">¿Está previsto comunicar sus datos a terceros?</h3>
        <p class="mt-4">Los datos no se comunicarán a otras empresas. Únicamente entre los departamentos de<span>&nbsp;</span>
            <span class="font-bold">segundo</span><span>&nbsp;</span><span class="font-bold">plano</span><span>&nbsp;</span>y solo si se considera necesario para una mejor calidad de la atención del interesado.</p>
        <h3 class="text-2xl font-bold mt-8">¿Cuáles son sus derechos cuando nos facilita sus datos?</h3>
        <p class="mt-4">Cualquier persona tiene derecho a obtener confirmación sobre si en<span>&nbsp;</span>
            <span class="font-bold">segundo</span><span>&nbsp;</span><span class="font-bold">plano</span><span>&nbsp;</span>estamos tratando datos personales que les conciernan, o no.<br>
            Las personas interesadas tienen derecho a si acceder a sus datos personales, así como a solicitar la rectificación de los datos inexactos o, en su caso, 
            solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos.<br>
            En determinadas circunstancias, los interesados podrán solicitar la limitación del tratamiento de sus datos, en cuyo caso únicamente los conservaremos 
            para el ejercicio o la defensa de reclamaciones.<br>En determinadas circunstancias y por motivos relacionados con su situación particular,
             los interesados podrán oponerse al tratamiento de sus datos.<span>&nbsp;</span><span class="font-bold">segundo</span><span>&nbsp;</span><span class="font-bold">plano</span><span>&nbsp;</span>
             dejará de tratar los datos, salvo por motivos legítimos imperiosos, o el ejercicio o la defensa de posibles reclamaciones.</p>
    </div>       
</Layout>
