---
import '../styles/global.css';
---

<footer class="bg-black text-white flex justify-between items-center p-5">
    <img src="/assets/logoAnnounce.png" alt="Logo de Announceme" class="h-12">
    <p>Derechos reservados © {new Date().getFullYear()}</p>
</footer>
