---
import '../styles/global.css';
---

<footer>
    <div class="footer-container">
        <img src="/assets/logoAnnounce.png" alt="Logo de Announceme" class="footer-logo">
        <p>Derechos reservados © {new Date().getFullYear()}</p>
    </div>
</footer>