---
import slideImage from '../assets/slide.jpg';
---

<div class="hero-container" style="background-image: url('/assets/slide.jpg');">
    <div class="hero-content">
        <h1>En Announceme</h1>
        <p>ayudamos a autónomos y pymes a potenciar su negocio con soluciones personalizadas de digitalización.</p>
        <p>Una propuesta de crecimiento basada en SEO, SEM, redes sociales y una red de networking con otros profesionales.</p>
        <button class="btn-primary">Descubre más</button>
    </div>
</div>
       